/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
 @import url("https://use.typekit.net/vfz4blp.css");
 @import url("https://use.typekit.net/vfz4blp.css");
 @import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
min-height: 100vh;
}

#hero {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transform: translate(-50%, -50%);
}

h1, h2, nav ul, other-content {
    position: relative;
    z-index: 1;
    color: whitesmoke
}

nav ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

nav ul > li {
    width: auto;
    padding: 8px 12px;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: "basenji-variable", sans-serif;
    font-weight: 100;
}

nav ul > li:hover {
    color: #fbb040;
    text-decoration: none;
}

nav a {
    color: inherit;
    text-decoration: none;
}

h1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 0;
}

h1 img {
    height: auto;
    width: 35%;
}

header h2 {
    font-family: "stolzl", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#form {
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);;
    padding: 1rem 2rem;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    gap: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3)
}

#form input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 200;
    width: 350px;
    font-family: "stolzl", sans-serif;
}

#form button {
    width: 200px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "stolzl", sans-serif;
    font-weight: 200;
    cursor: pointer;
    text-transform: uppercase;
}

#results {
    margin: 20px auto;
    text-align: center;
}

#results div {
    display: block;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "stolzl", sans-serif;
    font-weight: 200;
    margin: 10px auto;
    line-height: 2;
    line-break: auto;
    background-color:rgba(64, 224, 208, 0.403);
    border: 2px white;
    border-radius: 20px;
}


footer {
    margin: 0 auto;
}

.page-footer p {
    display: grid;
    grid-template-columns: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "basenji-variable", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: whitesmoke;
    margin-top: 200px;
}

.page-footer ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    gap: 2rem;
}

.page-footer ul li {
    font-family: "stolzl", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
}

.page-footer ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.page-footer ul li a:hover {
    color: #fbb040;
    text-decoration: underline;
}

/* ABOUT */

.about-page {
    background: url(../images/aurora_sky.jpeg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

div .about-info {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.about-info h1 {
    font-family: "basenji-variable", sans-serif;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.about-info p {
    display: flex;
    justify-content: center;
    font-family: "stolzl", sans-serif;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 200;
    color: whitesmoke;
    max-width: 768px;
    margin: 20px auto;
    padding-bottom: 50px;
}


/* Media Screens */

@media (max-width: 768px) {
    #hero {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    nav ul li {
        font-size: 1rem;
    }

    header h2 {
        font-size: 1rem;
    }

    #form input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 200;
    outline: none;
    width: 200px;
}

#form button {
    padding: 0.3rem 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 200;
}

footer {
    margin-left: auto;
    margin-right: auto;
}

.page-footer p {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page-footer ul {
    display: list-item;
    justify-content: center;
    align-items: center;
    line-height: 2;;
    gap: 1rem 2rem;
    padding: 0;
}

.page-footer ul li {
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

.about-info p {
    font-size: 0.8rem;
    padding: 5px 55px;
}

.about-info p:nth-last-child {
    margin-bottom: 20px;
}

.about-info h1 {
    font-size: 1.5rem;
    margin-top: 20px;
}

}



